.Description {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	&__button {
		margin-top: 7vh;
		margin-bottom: 7vh; 
		width: 15vw;
		background-color: black;
		text-align: center;
		padding: 1vw;
		border-radius: 7px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		cursor: pointer;
		opacity: 1;
		transition: 0.3s;
		a {
			color: white;
			text-decoration: none;
		}

		&:hover {opacity: .6}
	}

	&__local {
		width: inherit;
		display: block;
		text-align: center;
		font-size: 1.5vw;
		div {
			margin-top: 1vw;
		}
	}

	&__sectors {
		scroll-behavior: smooth;
	}
}

@media only screen and (max-width: 600px) {
  .Description {
		width: 100%;
		&__button {
			margin-top: 10vh;
			margin-bottom: 10vh;
			width: 60vw;
			padding: 2vw;
			font-size: 4vh;
			opacity: 1;
			&:hover {opacity: 1}
		}
		&__local {
			font-size: 7.5vw;
		}
	}

}